PORT=9109

#Database ENV Service
DB_HOST=<database host>
PRODUCTION_DATABASE_NAME=<database name>
PRODUCTION_DATABASE_USERNAME=<database username>
PRODUCTION_DATABASE_PASSWORD=<database password>
PRODUCTION_HOST_NAME=<database host name>

